html {
    margin: 0 auto;
}


body {
    margin: 0px;
    background-color: #6FB1EB;
    font-family: 'Merriweather', serif;
}

header img#headerimg {
    max-width: 75px;
    height: auto;
}

#sunPicture {
    font-size: 3.5em;
}

header {
    background-color: #deeaff;
    text-align: center;
}


header .headerTitle,
.motto,
#headerimage {
    vertical-align: middle;
    display: inline-block;
}

.motto {
    font-style: italic;
    font-size: .9em;
}

.headerTitle {
    margin-bottom: 1%;
}

/* Navigation  */

nav {
    text-align: center;
}

ul {
    padding-left: 0px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;

}

.weatherSummary {
    margin-bottom: 5%;
}

main {
    margin: 15px;
}

h2,
h3 {
    margin: auto 0px;
    padding: auto 0px;
}

article {
    background-color: #deeaff;
    padding: 3%;
    border-radius: 10px;
}

#townHeader {
    text-align: center;
}

#authorHeader {
    font-size: 1em;
    margin-left: 4%;
}
