@media screen and (max-width: 961px) and (min-width: 481px) {
  #container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*grid-template-rows: repeat(10, 1fr);*/
    
    /*THIS ONE SETS A HEIGHT OF EACH FRAME/ROW TO 100PX*/
    /*grid-template-rows: repeat(10, 100px);*/
    
    /*THIS ONE SETS A HEIGHT TO A MINIMUM OF 45PX*/
    /*AND THE MAX HEIGHT IS AUTO SO IT WILL FIT THE SIZE*/
    /*OF THE CONTENT INSIDE*/
    /*THIS IS BETTER BECUASE BY DEFAULT THE FRAMES ARE*/
    /*THE SIZE OF THE CONTENT YOU HAVE IN THEM. SO IF YOU */
    /*DO NOT HAVE ANY CONTENT THAN IT WILL LOOK REALLY SMALL*/
    /*OR IF YOUR CONTENT IS TOO BIG IT MIGHT GET CUT OFF.*/
    /*SO USING MINMAX IS SOMETIMES PREFERRED*/
    grid-template-rows: repeat(10, minmax(45px, auto));
}

header {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
}

main {
    grid-column: 1 / 11;
    grid-row: 2 / 9;
}

footer {
    grid-column: 1 / 11;
    grid-row: 9 / 11;
}

.border {
    border: 2px solid black;
}






main .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
 main img {
     width: 400px;
     height: auto; 
 }
}