@media only screen and (max-width: 600px) {
    main {
        max-width: 820px;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
        font-size: 2rem;
        text-shadow: 3px 3px 5px #777;
    }

    .herodiv {
        margin: 10px auto;
        position: relative;
    }

    .weatherValues {
        position: absolute;
        top: 75px;
        left: 50px;
        background: radial-gradient(#eee, rgba(69, 103, 170, .75));
        border: 1px solid 365594;
        padding: 1.5rem;
        box-shadow: 0 0 30px #fff;
    }
/* Weather Conditions in Top right when in large */
    #weatherConditions{
        display: none;
    }
    
    /* Navigation  */
    nav {
        text-align: center;
    }

    ul {
        padding-left: 0px;
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;

    }


    #menu:hover {
        cursor: pointer;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav {
        background-color: none;
        text-align: center;
    }

    .topnav a {
        display: block;
        color: black;
        padding: 10px 0px 10px 10px;
        text-decoration: none;
        font-size: 1em;
        align-content: center;
    }

    .topnav a:hover {
        background-color: white;
    }


    .menuLinks {
        display: none !important;
    }


}


