@media  only screen and (min-width: 600px){
.headerContent {
    display: inline-block;
}
#weatherConditions{
    display: inline-block;
    }
}
.headerContent{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
}
#sunImage {
    align-self: center;
    Margin-right: 4%;
}

#weatherConditions {
    display: flex;
    align-self: center;
    margin-left: 4%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 8px;
}
#menu:hover {
    cursor: pointer;
}
main img {
    max-width: 100%;
    height: auto;
    align-content: center;
}

main section.articleContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img#fall-mountain{
max-height: 200px;
}

main {max-width:820px;margin:0 auto;}
h2 {text-align: center;font-size:2rem;text-shadow:3px 3px 5px #777;}

.herodiv {margin: 10px auto;position: relative;}

.weatherValues{
	position: absolute;
	top: 275px;
	left: 75px;
	background: radial-gradient(#eee, rgba(69, 103, 170, .75));
	border: 1px solid #365594bf;
	padding: 1.5rem;
	box-shadow: 0 0 30px #fff;
}

